<h3>Update Book Details</h3>
<%= form_with model: @reader_card do |form| %>
  <%= form.label :user_id %>
  <%= form.text_field :user_id, class: 'form-control' %>
  <%= form.label :biblioteka_id %>
  <%= form.text_field :biblioteka_id, class: 'form-control' %>
  <%= form.label :date_issued %>
  <%= form.text_field :date_issued, class: 'form-control' %>
  <%= form.label :date_expired %>
  <%= form.text_field :date_expired, class: 'form-control' %>
  <%= form.submit %>
<% end %>

