<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 display-4">Listing Reader Cards</h4>
  </div>
  <%= link_to 'Create Reader Card', new_reader_card_path %>
  <div class="row justify-content-center">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col" colspan="3">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @reader_cards.each do |reader_card| %>
        <tr>
          <td><%= reader_card.user_id %></td>
          <td><%= link_to 'Show', reader_card_path(reader_card.id) %></td>
          <td><%= button_to 'Edit', edit_reader_card_path(reader_card), method: 'get'%></td>
          <td><%= button_to 'Remove', reader_card_path(reader_card), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </table>
  </div>
  <div class="p-3 mb-2 bg-light text-dark">
    <span class="text-info font-weight-bold">Welcome! </span>
    Create reader_card
  </div>
</div>
