<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 display-4">Listing Authors</h4>
  </div>
  <%= link_to 'Add Author', new_author_path %>
  <div class="row justify-content-center">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col" colspan="3">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @authors.each do |author| %>
        <tr>
          <td><%= author.name %></td>
          <td><%= link_to 'Show', author_path(author.id) %></td>
          <td><%= button_to 'Edit', edit_author_path(author), method: 'get'%></td>
          <td><%= button_to 'Remove', author_path(author), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </table>
  </div>
  <div class="p-3 mb-2 bg-light text-dark">
    <span class="text-info font-weight-bold">Welcome! </span>
    Add author
  </div>
</div>