<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 mb-4 display-4">Show details of Library <%= @biblioteka.id %></h4>
  </div>
  <div class="row justify-content-center">
    <table class="table">
      <tbody>
      <tr>
        <th>Name:</th>
        <td><%= @biblioteka.name %></td>
        <th>Address:</th>
        <td><%= @biblioteka.address %></td>
        <th>Phone:</th>
        <td><%= @biblioteka.phone %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <%= link_to "Back to list", root_path %>
    <div>
        <h2 style="margin-left: 48%; " >Users</h2>
        <% if @users.any? %>

            <%sort_age = "age" if @up_age %>
            <%sort_age = "age_desc" if !@up_age %>
            <%sort_card = "card" if @up_card %>
            <%sort_card = "card_desc" if !@up_card %>


            <table id='modelsTable' style='margin-top: 300px'>
                <thead id='modelsThead'>
                <tr>
                    <th>Avatar</th>
                    <th><%= link_to "Name",  biblioteka_path(@biblioteka, sort: "name") %>


                        <div id = "mySearch">
                            <%= form_tag biblioteka_path(@biblioteka), method: :get do %>
                                <%= text_field_tag :name, params[:name] %>
                                <%= submit_tag "Search" %>
                            <% end %>
                        </div>
                    </th>
                    <th><%= link_to "Age",  biblioteka_path(@biblioteka, sort: sort_age) %>
                        <div id = "mySearch">
                            <%= form_tag biblioteka_path(@biblioteka), method: :get do %>
                                <%= number_field_tag :age, params[:age] %>
                                <%= submit_tag "Search" %>
                            <% end %>

                        </div>
                    </th>
                    <th><%= link_to "Reader card",  biblioteka_path(@biblioteka, sort: sort_card) %></th>

                </tr>
                </thead>
                <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <%# if user.image.present? %>
<!--                            <td> <%#= image_tag user.image, width: 50, height: 50 %></td>-->
                        <%# else %>
<!--                            <td> <%#= image_tag '/users/avatarPlaceholder.png', width: 50, height: 50 %></td>-->
                        <%# end %>
                        <td> <%= link_to user.name, user_path(user), id: 'headerLink' %></td>
                        <!--<td><%#= user.age %></td>-->
                        <td><%= link_to user.reader_card.id, reader_card_path(user.reader_card), id: 'headerLink' %></td>
                <% end %>
                </table>
        <% else %>
            <p>No users found.</p>
        <% end %>
    </div>
</div>

