<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 mb-4 display-4">Show details of Book <%= @library.id %></h4>
  </div>
  <div class="row justify-content-center">
    <table class="table">
      <tbody>
      <tr>
        <th>Name:</th>
        <td><%= @library.name %></td>
        <th>Address:</th>
        <td><%= @library.address %></td>
        <th>Phone:</th>
        <td><%= @library.phone %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <%= link_to "Back to list", root_path %>
</div>
